html { 
  margin:0;
  padding:0;
}
body{
  margin: 0;
  padding: 0;
	font-family: 'Milkshake';
}
footer{
  background: color #000000;
  position: relative;
  width: 
  height: 100px;
  top: -150px;
  left: 0px;
   }
.social{
height: 40px;
width: 40px;
display: block;
border-radius: 50%;
}
.social img{
  width: 50px;
  height: 50px;
}

.indicator
{
  position: relative;
  width:  150px;
  height: 150px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;



}
.indicator span
{
  position:absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: animate 1s linear infinite;  
}
.indicator span:nth-child(1)
{
  top:  -900px;
  left: -900px;
  animation-delay: 0s;
}
.indicator span:nth-child(2)
{
  top:  -885px;
  left: -885px;
  animation-delay: 0.2s;
}
.indicator span:nth-child(3)
{
  top:  -870px;
  left: -870px;
  animation-delay: 0.4s;
}
.indicator span:nth-child(4)
{
  top:  -855px;
  left: -855px;
  animation-delay: 0.6s;
}
.indicator span:nth-child(5)
{
  top: -840px;
  left:-840px;
  animation-delay: 0.8s;
}



.slide {
	width:  98.9vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color .3s;
 color: #ffff
}
.one{
font-size: 100px;
 background: url(images/fondpa.jpg) no-repeat center fixed; 
  background-size: cover; /* version standardisée */
}


.two{
  font-size: 40px;
  background: #CD853F;
  font-family: 'Houston';
  border:2px groove black;  

}


@keyframes animate
{

  0%
    {
      border-color: #fff;
      transform: translate(0,0);
    }
    20%
    {
      border-color: #fff;
      transform: translate(15px;15px);
    }
    20.1%,100%
    {
      border-color: #222;
   
    }

}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Milkshake';
    src: url('Milkshake.eot');
    src: url('Milkshake.eot?#iefix') format('embedded-opentype'),
         url('Milkshake.ttf') format('truetype'),
         url('Milkshake-webfont.svg#Milkshake') format('svg');
           }


         @font-face { /* Définition d'une nouvelle police nommée Houston */
    font-family: 'Houston';
    src: url('Houston.otf');
    


